*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    color: #274C5B;
}

.container{
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.button_order{
    display: flex;
    border: 1px solid #EFD372;
    border-radius: 16px;
    background-color: #EFD372;
    padding: 25px 0;
    width: 220px;
    color: #274C5B;
    font-size: 19px;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;  
}
.text{
    font-family: 'Yellowtail', cursive;
    font-size: 36px;
    line-height: 65px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #7EB693;
}

.header .header_wrapper{
    display: flex;
    align-items: center;
}

.header{
    padding: 60px 0;
}

.header .nav_toggle{
    position: relative;
    border: 0;
    background: none;
    display: none;
    
}

#nav_toggle{
    display: none;
}

.header .nav_toggle::before{
    content: 'MENU';
    font-size: 20px;
    font-weight: 400px;
    color: #274C5B;
}

.header .nav_toggle label{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header .nav{
    margin-left: 120px;
    z-index: 100;
}

.header .nav ul{
    display: flex;
    list-style: none;
}

.header .nav a{
    font-size: 20px;
    font-weight: 400px;
    text-decoration: none;
    color: #274C5B;
}

.header .nav a:hover{
    color: #7EB693;
}

.header .nav li:not(:last-child){
    margin-right: 40px;
}

.header .cart{
    margin-left: auto;
    border: 1px solid #D4D4D4;
    border-radius: 33px;
    cursor: pointer;
}

.header .cart .basket{
    display: flex;
    align-items: center;
    padding: 10px;
}

.header .cart .basket p{
    font-size: 17px;
    font-weight: 400px;
    margin-left: 10px;
    margin-right: 20px;
}


.promo{
    background-color: #ffff;
    background-image: url(../img/header_img.png);
    background-size: cover;
    height: 920px;
}

.promo > .container,
.promo .promo_wrapper{
    height: 100%;
}

.promo .promo_wrapper{
    display: flex;
    align-items: center;
}

.promo .promo_content{
    text-align: left;
    width: 600px;
}
.promo h3{
    font-weight: 700;
    font-size: 70px;
    line-height: 84px;
    letter-spacing: 0.36px;
    margin-top: 15px;
    margin-bottom: 30px;
}


.offer .offer_wrapper{
    display: flex;
    justify-content: center;
    padding: 140px 0;
}

.offer h3{
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.36px;
}

.offer_text{
    padding-left: 55px;
}

.offer .fruits{ 
    background-image: url(../img/fresh_fruits.png);
    background-repeat: no-repeat;
    border-radius: 30px;
    color: white;
    width: 665px;
    height: 378px;
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.offer .fruits p{
    color: white;
}

.offer .vegetables{ 
    background-image: url(../img/vegetables.png);
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 665px;
    height: 378px;
    display: flex;
    align-items: center;
}


.about_us{
    background-color: #F9F8F8;
    height: 1000px;
}

.about_us .container{
    display: flex;
    height: 100%;
    align-items: center;
}

.about_us .about_wrapper{
    display: flex;
    align-items: center;
    height: 100%;
}

.about_us .about_wrapper .about{
    display: flex;
    align-items: center;
}

.about_us .about_wrapper .about img{
    width: 100px;
    height: 100px;
}

.about_us .about_wrapper .about_text h3{
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #274C5B;
    padding: 22px 0;
}

.about_us .about_wrapper .about_text2{
    padding-left: 15px;
}

.about_us .about_wrapper .about_text2 h3{
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.36px;
    color: #274C5B;
    padding-bottom: 10px;
    padding-top: 0;
    
}

.about_us .about_wrapper .about_text .p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color: #525C60;
}

.about_us .about_wrapper .foods_only{
    padding: 30px 0;
}

.about_us .button_order{
    margin-top: 50px;
    background-color: #274C5B;
    border: 1px solid #274C5B;
    border-radius: 16px;
    color: white;
}




.our_products{
    height: 1380px;
    margin-bottom: 120px;
}

.our_products .product_list{
    margin: 120px 0;
}
.our_products .product_list .product_text{
    text-align: center;
    margin-bottom: 40px;
}

.our_products .product_list .product_text h3{
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #274C5B;
}

 .product_list1,
 .product_list2{
    display: flex;
    justify-content: center;
}

.list_item{
    background: #F9F8F8;
    border-radius: 30px;
    height: 590px;
    width: 450px;
    margin-top: 20px;
}

.list_item:not(:first-child){
    margin-left: 20px;
}


.list_item .list_wrapper{
    display: flex;
    align-items: center;
    height: 100%;
}

 .list_item .list_position img{
    width: 90%;
    padding-left: 20px;
}
 .list_item .list_position .cell{
    display: flex;
    align-items: center;
    background-color: #274C5B;
    border-radius: 8px;
    color: white;
    width: 118px;
    height: 37px;
    justify-content: center;
    margin-left: 30px;
}

 .list_item a{
    text-decoration: none;
    color: #274C5B;
    padding: 0 30px;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.36px;
}

 .list_item .list_title{
    display: flex;
    align-items: center;
    padding: 10px 30px;
    margin-top: 20px;
    border-top: 1px solid #D4D4D4;;
}

 .list_item .list_title img{
    margin-left: auto;
}

 .list_item .list_title .sale{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0.36px;
    text-decoration-line: line-through;
    color: #B8B8B8;
    padding-right: 10px;
}



.reviews{
    height: 1248px;
    background-image: url(../img/testimonial.png);
    background-size: cover;
}

.reviews .container{
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
}


.reviews .container .reviews_item h3{
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #274C5B;
    margin-bottom: 60px;
}

.reviews .container .reviews_item .img_stars{
    margin-top: 20px;
    margin-bottom: 30px;
}

.reviews .container .reviews_item .text3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color: #525C60;
    padding: 0 190px;
}

.reviews .container .reviews_item h4{
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.36px;
    margin-top: 25px;
}

.reviews .container .achievements_block{
    display: flex;
    justify-content: center;
    border-top: 1px solid #E0E0E0;
    margin-top: 100px;
}

.reviews .container .achievements{
    display: flex;
    text-align: center;
    margin-top: 100px;
}

.reviews .container .achievements_block .achievements .achievements_item{
    background: #F1F1F1;
    border: 6px solid #7EB693;
    border-radius: 200px;
    height: 250px;
    width: 250px;
}

.reviews .container .achievements_block .achievements .achievements_item:not(:last-child){
    margin-right: 30px;
}

.reviews .container .achievements_block .achievements .achievements_item2{
    border: 5px solid #FFFFFF;
    border-radius: 200px;
    width: 243px;
    height: 243px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviews .container .achievements_block .achievements .achievements_item2 h3{
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    letter-spacing: 0.36px;
}

.reviews .container .achievements_block .achievements .achievements_item2 p{
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.36px;
}



.offer_products{
    height: 1060px;
    background-color: #274C5B;
}

.offer_products .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer_products .container .view_all{
    display: flex;
    justify-content: space-between;
}

.offer_products .container .view_all h3{
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.offer_products .container .button_order{
    width: 270px;
}



.eco_friendly{
    height: 700px;
    margin-bottom: 50px;
}

.eco_friendly .eco_friendly_wrapper{
    display: flex;
}

.eco_friendly .eco_friendly_wrapper img{
    position: absolute;
    z-index: 2;
}

.eco_friendly .eco_friendly_wrapper .farm{
    background: #FFFFFF;
    border-radius: 30px 0px 0px 30px;
    position: relative;
    z-index: 20;
    top: 40px;
    left: 660px;
    height: 620px;
    width: 620px;
    
}

.eco_friendly .eco_friendly_wrapper .farm h3{
    font-weight: 700;
    font-size: 44px;
    line-height: 58px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.eco_friendly .eco_friendly_wrapper .farm .farm_text:not(:first-child){
    margin-top: 15px;
}

.eco_friendly .eco_friendly_wrapper .farm .farm_text h4{
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.eco_friendly .eco_friendly_wrapper .farm .farm_text p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color: #525C60;
}

.eco_friendly .eco_friendly_wrapper .farm .eco_farm{
    padding: 40px 0 50px 50px;

}


.catalog{
    height: 860px;
    background-color: #EFF6F1;
}

.catalog .container{
    height: 100%;
}

.catalog .catalog_list{
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
}

.catalog .catalog_list .catalog_item:not(:last-child){
    margin-right: 30px;
}

.catalog .catalog_list .catalog_item {
    position: relative;  
}

.catalog .catalog_list .catalog_item img{
    width: 95%;
}

.catalog .catalog_list .catalog_item .catalog_wrap{
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.catalog .catalog_list .catalog_item .catalog_item_text{
    display: flex;
    align-items: center;    
    justify-content: center;
    background: #FFFFFF;
    border-radius: 20px;
    height: 65px;
    width: 230px;
}

.catalog .catalog_list .catalog_item p{
    font-weight: 700;
    font-size: 25px;
}


.subscribe{
    transform: translateY(-15px)
}

.subscribe .subscribe_promo{
    background-image: url(../img/newsletter.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.subscribe .subscribe_promo .catalog_promo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 70px;
}

.subscribe .subscribe_promo .catalog_promo h3{
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.subscribe .subscribe_promo .catalog_promo .email{
    display: flex;
}

.subscribe .subscribe_promo .catalog_promo .email input{
    margin-right: 10px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    width: 350px;
    height: 80px;
}

.subscribe .subscribe_promo .catalog_promo .email input::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #525C60;
    padding-left: 30px;
}

.subscribe .subscribe_promo .catalog_promo .email .button_order{
    background-color: #274C5B;
    border: 1px solid #274C5B;
    border-radius: 16px;
    color: #FFFFFF;
    font-size: 18px;
    width: 200px;
    height: 82px;
}



.contact_us{
    height: 630px;
}

.contact_us .container{
    height: 100%;
}

.contact_us h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.36px;
    margin-bottom: 30px;
}

.contact_us p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color: #525C60;
}

.contact_us .contact_list{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.contact_us .item {
    flex: 1 1;
}

.contact_us .contact_list .contact_wrap{
    display: flex;
    justify-content: center;
}

.contact_us .contact_list .contact_wrap .contact{
    border-right: 1px solid #D5D5D5;
    text-align: right;
    padding-right: 20px;
    margin-right: 40px;
}

.contact_us .contact_list .contact_wrap .contact .contact_item:not(:first-child){
    margin-top: 40px;
}

.contact_us .contact_list .contact_wrap .contact_organic{
    text-align: center;
    padding: 0 50px;
    width: 40%;
}

.contact_us .contact_list .contact_wrap .contact_organic .img_logo{
    margin-bottom: 45px;
}

.contact_us .contact_list .contact_wrap .contact_organic .contact_social{
    margin-top: 50px;
    margin-bottom: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_us .contact_list .contact_wrap .contact_organic .contact_social a{
    background-color: #EFF6F1;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_us .contact_list .contact_wrap .contact_organic .contact_social a:not(:last-child){
    margin-right: 20px;
}

.contact_us .contact_list .contact_wrap .utility{
    border-left: 1px solid #D5D5D5;
    padding-left: 20px;
    margin-left: 30px;
}

.contact_us .contact_list .contact_wrap .utility p:not(:first-child){
    margin-top: 24px;
}

.contact_us .map{
    background-image: url(../img/map.png);
    height: 590px;
    background-size: contain;
    background-repeat: no-repeat;
}




